<div id="tmplat-page">
    <table>
        <colgroup><!-- ### 테이블의 컬럼 너비는 colGroup을 통해 지정합니다. td에 지정 X ### -->
            <col width="40">
            <col width="40">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="70">
        </colgroup>
        <tbody>
            <tr>
                <td colspan="16">/회사명영역</td>
            </tr>
            <tr>
                <td colspan="16">/회사주소영역</td>
            </tr>
            <tr>
                <td colspan="3">담당자 :&nbsp;
                    <span>/사원명영역</span>
                </td>
                <td colspan="3">전화번호 :&nbsp;
                    <span>/전화번호영역</span>
                </td>
                <td colspan="10">이메일 :&nbsp;
                    <span>/이메일영역</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">문 서 번 호 :</td>
                <td colspan="14">/문서번호영역 작성시 공란</td>
            </tr>
            <tr>
                <td colspan="2">수&nbsp; &nbsp;신&nbsp; &nbsp;처 :</td>
                <td colspan="14">/수신처 영역 작성시 공란</td>
            </tr>
            <tr>
                <td colspan="2">제&nbsp; &nbsp; &nbsp; &nbsp; 목 :</td>
                <td colspan="14">/제목영역 input</td>
            </tr>
            <tr>
                <td colspan="16">
                    <textarea id="templat-editor"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<style type="text/css">

</style>