<div id="tmplat-wrap"
    style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
    <table class="detailSection">
        <colgroup>
            <col width="40">
            <col width="40">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="70">
        </colgroup>

        <tbody>
            <tr>
                <td colspan="16"
                    style="border-bottom : none !important;  text-align: center; font-size: 25px !important; font-weight: bold; margin-bottom: 30px !important; margin-top: 20px !important;"
                    id="tmplat-cmpny-nm" class="tmplat-item">

                    회사명
                </td>
            </tr>
            <tr>
                <td colspan="16" style="border-bottom : none !important; border-top : none !important;"
                    id="tmplat-cmpny-addr">

                    회사 주소 입력
                </td>
            </tr>
            <tr>
                <td colspan="4"
                    style="border-top : none !important;  border-right : none !important; border-bottom : double !important;"
                    class="detailColumn dext_table_border_t dext_table_border_r dext_table_border_l">

                    담당자 :&nbsp;<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="0"
                        data-dsl="{{label:draftUser}}" data-wrapper=""
                        style="font-size: 9pt; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                        data-value="" data-autotype=""><span id="tmplat-draft-user" class="tmplat-item"
                            style="font-size: 9pt; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; line-height: normal; margin-top: 0px; margin-bottom: 0px;">기안자</span><span
                            contenteditable="false" class="comp_active"
                            style="display: none; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
                            <span class="Active_dot1"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                                class="Active_dot2"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span>
                            <span class="Active_dot3"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                                class="Active_dot4"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span>
                        </span> <span contenteditable="false" class="comp_hover" data-content-protect-cover="true"
                            data-origin="0"
                            style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
                            <a contenteditable="false" class="ic_prototype ic_prototype_trash"
                                data-content-protect-cover="true" data-component-delete-button="true"></a> </span>
                    </span>
                </td>
                <td colspan="4"
                    style="border-top : none !important; border-right : none !important; border-left : none !important; border-bottom : double !important;"
                    class="detailColumn dext_table_border_t dext_table_border_r dext_table_border_l">

                    전화 :&nbsp;<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="1"
                        data-dsl="{{label:mobileNo}}" data-wrapper=""
                        style="font-size: 9pt; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                        data-value="" data-autotype=""><span id="tmplat-draft-tel" class="tmplat-item"
                            style="font-size: 9pt; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; line-height: normal; margin-top: 0px; margin-bottom: 0px;">핸드폰번호</span><span
                            contenteditable="false" class="comp_active"
                            style="display: none; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
                            <span class="Active_dot1"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                                class="Active_dot2"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span>
                            <span class="Active_dot3"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                                class="Active_dot4"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span>
                        </span> <span contenteditable="false" class="comp_hover" data-content-protect-cover="true"
                            data-origin="1"
                            style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
                            <a contenteditable="false" class="ic_prototype ic_prototype_trash"
                                data-content-protect-cover="true" data-component-delete-button="true"></a> </span>
                    </span>
                </td>
                <td colspan="8"
                    style="border-top: none !important;  border-left : none !important; border-bottom : double !important;"
                    class="detailColumn dext_table_border_t dext_table_border_r dext_table_border_l">

                    이메일 :&nbsp;<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="3"
                        data-dsl="{{label:draftUserEmail}}" data-wrapper=""
                        style="font-size: 9pt; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                        data-value="" data-autotype=""><span id="tmplat-draft-email" class="tmplat-item"
                            style="font-size: 9pt; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; line-height: normal; margin-top: 0px; margin-bottom: 0px;">기안자이메일</span><span
                            contenteditable="false" class="comp_active"
                            style="display: none; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
                            <span class="Active_dot1"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                                class="Active_dot2"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span>
                            <span class="Active_dot3"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                                class="Active_dot4"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span>
                        </span> <span contenteditable="false" class="comp_hover" data-content-protect-cover="true"
                            data-origin="3"
                            style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
                            <a contenteditable="false" class="ic_prototype ic_prototype_trash"
                                data-content-protect-cover="true" data-component-delete-button="true"></a> </span>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2"
                    style="border-bottom : none !important; border-right: none !important; font-weight: bold; "
                    class="detailColumn dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l">

                    문 서 번 호 :
                </td>
                <td colspan="14" style="border-bottom : none !important; border-left : none !important;"
                    class="detailColumn dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l">
                    <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="4"
                        data-dsl="{{label:docNo}}" data-wrapper=""
                        style="font-size: 9pt; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                        data-value="" data-autotype=""><span id="tmplat-doc-no" class="tmplat-item"
                            style="font-size: 9pt; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; line-height: normal; margin-top: 0px; margin-bottom: 0px;">문서번호</span><span
                            contenteditable="false" class="comp_active"
                            style="display: none; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
                            <span class="Active_dot1"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                                class="Active_dot2"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span>
                            <span class="Active_dot3"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                                class="Active_dot4"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span>
                        </span> <span contenteditable="false" class="comp_hover" data-content-protect-cover="true"
                            data-origin="4"
                            style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
                            <a contenteditable="false" class="ic_prototype ic_prototype_trash"
                                data-content-protect-cover="true" data-component-delete-button="true"></a> </span>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2"
                    style="border-top: none !important;  border-right: none !important; border-bottom:2px solid black !important;  font-weight: bold; "
                    class="detailColumn dext_table_border_t dext_table_border_r dext_table_border_l">

                    제&nbsp; &nbsp; &nbsp; &nbsp; 목 :
                </td>
                <td colspan="14"
                    style="border-top: none !important; border-left : none !important; border-bottom:2px solid black !important;"
                    class="detailColumn dext_table_border_t dext_table_border_r dext_table_border_l">
                    <p
                        style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: 18px; margin-top: 0px; margin-bottom: 0px;">
                        <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="6"
                            data-dsl="{{text:subject}}" data-wrapper=""
                            style="width: 100%; font-size: 9pt; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; line-height: 18px; margin-top: 0px; margin-bottom: 0px;"
                            data-value="" data-autotype=""><input id="tmplat-title" class="tmplat-write" type="text" name="aprvTtl"><span
                                contenteditable="false" class="comp_active"
                                style="display: none; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: 18px; margin-top: 0px; margin-bottom: 0px;">
                                <span class="Active_dot1"
                                    style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: 18px; margin-top: 0px; margin-bottom: 0px;"></span><span
                                    class="Active_dot2"
                                    style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: 18px; margin-top: 0px; margin-bottom: 0px;"></span>
                                <span class="Active_dot3"
                                    style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: 18px; margin-top: 0px; margin-bottom: 0px;"></span><span
                                    class="Active_dot4"
                                    style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: 18px; margin-top: 0px; margin-bottom: 0px;"></span>
                            </span> <span contenteditable="false" class="comp_hover" data-content-protect-cover="true"
                                data-origin="6"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: 18px; margin-top: 0px; margin-bottom: 0px;">
                                <a contenteditable="false" class="ic_prototype ic_prototype_trash"
                                    data-content-protect-cover="true" data-component-delete-button="true"></a> </span>
                        </span><br>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="16" style=" font-weight: bold; "
                    class="detailColumn editorCol dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l">
                    <span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="7"
                        data-dsl="{{editor:appContent}}" data-wrapper=""
                        style="width: 100%; font-size: 9pt; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                        data-value="" data-autotype="">
                        <textarea id="tmplat-editor" class="tmplat-write" name="aprvCn"></textarea>
                        <span
                            contenteditable="false" class="comp_active"
                            style="display: none; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
                            <span class="Active_dot1"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                                class="Active_dot2"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span>
                            <span class="Active_dot3"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                                class="Active_dot4"
                                style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span>
                        </span> <span contenteditable="false" class="comp_hover" data-content-protect-cover="true"
                            data-origin="7"
                            style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
                            <a contenteditable="false" class="ic_prototype ic_prototype_trash"
                                data-content-protect-cover="true" data-component-delete-button="true"></a> </span>
                    </span><br>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<style type="text/css">

</style>