body{-ms-overflow-style:none; }
body::-webkit-scrollbar { display:none; }
     
   *{
      /* font-family: 'Noto Sans KR', sans-serif; */
      font-family: 'Noto Sans KR', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
      margin: 0;
      zoom: 100%;
    }
    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      color: white;
      z-index: 999;
      /* background: red; */
      width: 100%;
      height: 90px;
      padding: 0 20px;
      font-size: 32px;
      font: bold;
    }
    .header nav{
      z-index: 1000;
    }
    .contentHome{
        display: flex;
        height: 1000vh;
    }
    
    .contentMain{
        position: fixed;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        width: 100%;
        height: 58em;
        top: 0;
    }
    .contentMain.active{
        animation: animate-contentMain 2s ;
        /* background: rgba(0, 0, 0, 1); */

    }
      @keyframes animate-contentMain{
          0%{
            /* opacity: 0; */
            background: rgba(0, 0, 0, 1);
          }
          100%{
          }
        }
    .mainFont{
        font-size: 96px;
        font-weight: bold;
        position: fixed;
        top: 35%;
        left: 2%;
        animation: animate-arrows 2s ;
    }

    @keyframes animate-arrows{
        0%{
          opacity: 0;
          left: -5%;
        }
        50%{
          opacity: 50;
        }
        100%{
          opacity: 100;
        }
      }
      .rightFont{
        position: fixed;
        top: 20%;
        right: 5%;
        animation: animate-rightFont 2s ;
      }

      @keyframes animate-rightFont{
        0%{
          opacity: 0;
          right: 15%;
        }
        50%{
          opacity: 50;
        }
        100%{
          opacity: 100;
          right: 5%;
        }
      }
    .contentMainCover{
        position: fixed;
        width: 100%;
        height: 58em;
        background-image: url(../img/office-7-1536x864.jpg);
        background-size: 100%;
    }
    .content_row{
       /* border: 1px solid red; */
        display: none;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 99;
        background: black;
        overflow: hidden;
        animation: animate-content_row 2s ;
    }
    .content_row.active{
      animation: animate-content_row 2s ;
    }

    @keyframes animate-content_row{
        0%{
          opacity: 0;
        }
        50%{
          opacity: 50;
        }
        100%{
          opacity: 100;
        }
      }

   

.content_1{
  display: flex;
  position: absolute;
  border: 1px solid red;
  /* background: red; */
  overflow: hidden;
  bottom: 0%;
  left: 0%;
  width: 1100px;
  height: 700px;
}
.content_1.active{
  animation: animate-content_1 2s ;
}

@keyframes animate-content_1{
    0%{
      opacity: 0;
      left: -5%;
    }
    50%{
      opacity: 50;
    }
    100%{
      opacity: 100;
      left: 0%;
    }
  }

.content_img1{
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 600px;
}
.img_cover1{
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 1;
  /* background: rgba(0, 0, 0, 0.5); */
  width: 400px;
  height: 600px;
  animation: animate-img_cover1 2s ;
}
@keyframes animate-img_cover1{
    0%{
      background: red;
      height: 600px;
    }
    70%{
    }
    100%{
      background: red;
      height: 0px;
      /* background: rgba(0, 0, 0, 0.5); */
    }
  }

.content_num1{
  position: absolute;
  left: 33.5%;
  bottom: 60%;
  font-size: 130px;
  color: gray;
  z-index: -1;
}
.content_text1{
  position: absolute;
  bottom: 0%;
  left: 28%;
  z-index: 2;
}
.content_text1 p{
  font-size: 80px;
  color: white;
}

.content_2{
  /* display: flex; */
  /* justify-content: center; */
  position: absolute;
  /* border: 1px solid red; */
  /* background: red; */
  /* overflow: hidden; */
  bottom: -10%;
  left: 62em;
  width: 1100px;
  height: 600px;
}

.imgmain_cover2{
  overflow: hidden;
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: 300px;
}
.content_img2{
  position: absolute;
  left: 0%;
  bottom: 0%;
  /* width: 600%; */
  /* height: 400px; */

  /* animation: animate-content_img2s 2s ; */
}
@keyframes animate-content_img2s{
    0%{
      bottom: 20%;
    left: 0%;
    }
      100%{
        left: -90%;
      bottom: -50%;
      }
    
  }
.img_cover2{
  position: absolute;
  z-index: 1;
  /* left: 57em; */
  background: yellow;
  bottom: 10%;
  width: 100%;
  height: 300px;
  animation: animate-img_cover2s 2s ;
}
@keyframes animate-img_cover2s{
    0%{
      width: 0%;
    }
 
    100%{
      width: 100%;
    }
  }
.img_cover2.active{
  width: 0%;
  animation: animate-img_cover2active 2s ;
}
 @keyframes animate-img_cover2active{
     0%{
       background: yellow;
       width: 100%;
     }
     100%{
       background: yellow;
       width: 0%;
     }
   
   }

  .content_num2{
    position: absolute;
    top: 37%;
    right: -10%;
    font-size: 100px;
    color: gray;
    z-index: -1;
    -webkit-transform: rotate(90deg);
  }   

.content_text2{
  position: absolute;
  bottom: 55%;
  right: 0;
  /* left: 38%; */
}
.content_text2 p{
  right: 0;
  font-size: 150px;
  text-align: right;
  color: white;
}

.content_3{
  position: absolute;
  bottom: -10%;
  left: 160em;
  width: 1150px;
  height: 950px;
  border: 1px solid red;
}


.content_img3{
  position: absolute;
  top: 7%;
  width: 60%;
  height: 850px;
}
.img_cover3{
  position: absolute;
  z-index: 1;
  /* left: 57em; */
  background: rgb(39, 25, 196);
  top: 7%;
  width: 60%;
  height: 850px;
  animation: animate-img_cover3 1s ;
}
@keyframes animate-img_cover3{
    0%{
      width: 0%;
    }
    70%{
    }
    100%{
      width: 50%;
    }
  }

.img_cover3.active{
  animation: animate-img_cover3active 2s ;
  width: 0%;
}
 @keyframes animate-img_cover3active{
     0%{
       background: rgb(39, 25, 196);
       width: 50%;
     }
     70%{
    }
    100%{
      background: rgb(39, 25, 196);
      width: 0%;
     }
   }

  .content_num3{
    position: absolute;
    bottom: 8%;
    right: -11%;
    font-size: 150px;
    color: gainsboro;
    z-index: -2;
    /* -webkit-transform: rotate(90deg); */
  }   
  .content_num3_sub{
    position: absolute;
    top: 53%;
    left: -28%;
    font-size: 100px;
    color: gray;
    z-index: -1;
    -webkit-transform: rotate(270deg);
  } 

.content_text3{
  position: absolute;
  top: 3%;
  right: -11%;
  /* left: 38%; */
}
.content_text3 p{
  text-align: left;
  right: 0;
  font-size: 90px;
  color: white;
}

.content_4{
  /* display: flex;
  align-items: center;
  justify-content: center ; */
  position: absolute;
  bottom: 5%;
  left: 260em;
  width: 1200px;
  height: 900px;
  /* border: 1px solid red; */
}


.content_img4{
  position: absolute;
  top: 25%;
  width: 100%;
  height: 500px;
}
.img_cover4{
  position: absolute;
  z-index: 1;
  background: rgb(222, 125, 46);
  top: 25%;
  width: 100%;
  height: 500px;
  animation: animate-img_cover4 2s ;
}
@keyframes animate-img_cover4{
    0%{
      width: 0%;
    }
    70%{
    }
    100%{
      width: 100%;
    }
  }

.img_cover4.active{
  z-index: 2;
  animation: animate-img_cover4s 2s ;
  width: 0%;
}
@keyframes animate-img_cover4s{
  0%{
    width: 100%;
  }
  
  100%{
    width: 0%;
  }
}

  .content_num4{
    position: absolute;
    bottom: 8%;
    right: 5%;
    font-size: 150px;
    color: gainsboro;
    z-index: -2;
    /* -webkit-transform: rotate(90deg); */
  }   
  .content_num4_sub{
    position: absolute;
    top: 77%;
    left: -1%;
    font-size: 100px;
    color: gray;
    z-index: -1;
    /* -webkit-transform: rotate(270deg); */
  } 

.content_text4{
  position: absolute;
  top: 9%;
  right: 0%;
  /* left: 38%; */
}
.content_text4 p{
  text-align: left;
  right: 0;
  font-size: 100px;
  color: white;
}


/* scro --------- */
.scroll_evnet {
  padding-top: 80px;
  position: fixed;
  top: 80%;
  left: 50%;
  z-index: 100;
  color: #fff;
  }
  .scroll_evnet span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
  }
.scroll_evnet span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  }
  .scroll_evnet span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
  }
  .scroll_evnet span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  }
  @-webkit-keyframes sdb {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
  }
  @keyframes sdb {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
  }  


.total_menu{
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 100vh;
    background: black;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* z-index: 100; */
}

.menu{ 
    text-decoration: none;
    font-size: 68px;
    color: white;
    font-weight: bold;
    text-transform:uppercase; 
}

.menu:after {
    display:block;
    content: '';
    border-bottom: solid 3px #fff;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

#menu1:hover .menu:after { 
    transform: scaleX(1); 
}
#menu2:hover .menu:after { 
  transform: scaleX(1); 
}
#menu3:hover .menu:after { 
  transform: scaleX(1); 
}
#menu4:hover .menu:after { 
  transform: scaleX(1); 
}
.menu_2{
    display: none;
  }
.menu_2.active{
  display: flex;
  justify-content: center;
  margin-bottom: 10px ;
  
  animation: animate-img_cover4active 1.5s ;
}
 @keyframes animate-img_cover4active{
     0%{
    opacity: 0%;
     }
    100%{
      opacity: 100%;
     }
   }
.menu_2 a{
    font-size: 21px;
    margin: 0 15px;
}
.menus{ 
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform:uppercase; 
}

.menus:after {
    display:block;
    content: '';
    /* border-bottom: solid 3px #2bb3e4;   */
    border-bottom: solid 3px #66c5e7;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.menus:hover:after { 
    transform: scaleX(1); 
}

.bott{
  position: absolute;
  bottom:2%;
  color: #858585;
}

.leftmenu{
  display: flex;
  flex-direction: column;
  position: absolute;
  /* align-items: center; */
  justify-content: center;
  left: 2%;
  font-size: 32px;
}