body{
    overflow-x: hidden ;
	
}
.wraper {
    width: 100%;
    height: 4000px;
    background: black;
}
.sheader{
    position: relative;
    width: 100%;
    height: 100vh;
}
.headerskin{
    top:0;
    position: absolute;
    background: black;
    width: 100%;
    height: 100vh;
    opacity: 0;
    animation: fadeOut 5s ease-in-out forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 0.6;
    }
}
.sheader video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body{
    background: black;
    padding: 0;
    margin: 0;
}
.curtain{
    background: black;
    position: absolute;
    top:0;
    z-index: 10;
}
.left{
    height: 100vh;
    width: 49vw;
    animation: left 3s ease-in-out forwards;
}
@keyframes left {
    0% {
        width: 49vw;
    }
    50%{
        width: 46vw;
    }
    100% {
        width: 0vw;
    }
}
.right{
    height: 100vh;
    width: 49vw;
    left: 51vw;
    animation: right 3s ease-in-out forwards;
}
@keyframes right {
    0% {
        width: 49vw;
        left: 51vw;
    }
    50%{
        width: 46vw;
        left: 54vw;
    }
    100% {
        width: 0vw;
        left: 100vw;
    }
}
.top{
    height: 90vh;
    width: 100vw;
    animation: top 3s ease-in-out forwards;
}
@keyframes top {
    0% {
        height: 90vh; 
    }
    50%{
        height: 45vh;    
    }
    100% {
        height: 0vh;
    }
}
.bottom{
    height: 5vh;
    width: 100vw;
    top: 95vh;
    animation: bottom 3s ease-in-out forwards;
}
@keyframes bottom {
    0% {
        height: 5vh; 
        top: 95vh
    }
    50%{
        height: 45vh; 
        top: 55vh  
    }
    100% {
        height: 0vh;
        top:100vh;
    }
}
.title{
    color: white;
    position: absolute;
    z-index: 12;
    opacity: 0;
    top: 50vh;
    left: 10vw;
    animation: title 5s ease-in-out forwards;
}
@keyframes title {
    0% {
        opacity: 0
    }
    80%{
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
.title #title{
    font-size: 5em;
}
.cont450{
    padding-left: 10%;
    color: white;
    position: relative;
    bottom: -30px;
    opacity: 0;
    transition: opacity 1.5s, bottom 1.5s;
    font-size: 3em;
}
H2.cont450{
    padding-top: 200px;
    font-size: 2.0em;
}
.cont1200{
    margin-top: 200px;
    position: relative;
}
.cont1200 .detail{
    z-index: 10;
    color: white;
    height: 600px;
    width: 500px;
    position:  absolute;
    left: 15vw;
    padding-top: 60px;
    opacity: 0;
    top:30px;
    transition: opacity 1.5s, top 1.5s;
}
.cont1200 .picture{
    position:  absolute;
    top:30px;
    width: 500px;
    left: 52vw;
    opacity: 0;
    background:  rgba(209, 224, 241,1);
    width: 500px;
    height: 600px;
    border-radius: 10%;
    transition: opacity 1.5s, top 1.5s;
}

.contheader{
    height:110px;
    display: flex;
    border-bottom: 1px solid rgba(5, 5, 5, 0.38);
}
.imgdiv{
    padding-top: 30px;
    flex:3;
}
.imgdiv img{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-left: 55px;
}
.contdiv{
    flex: 7;
}
.contdiv h4{
    margin: 0;
}
.icons img{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 auto;
}
.icons{
    padding: 30px;
    padding-top: 50px;
}
.icon{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70px;
    float: left;
    margin: 20px;
}
.detail h3{
    font-size: 1.8em;
}
.detail h1{
    font-size: 3em;
    margin: 0;
}

.cont2100{
    margin-top: 360px;
    position: relative;
}
.cont2100 .detail{
    z-index: 10;
    color: white;
    height: 600px;
    width: 500px;
    position:  absolute;
    left: 52vw;
    padding-top: 60px;
    top:770px;
    opacity: 0;
    transition: opacity 1.5s, top 1.5s;
}
.cont2100 .picture{
    position:  absolute;
    top:660px;
    width: 500px;
    left: 5vw;
    width: 500px;
    height: 600px;
    opacity: 0;
    border-radius: 10%;
    transition: opacity 1.5s, top 1.5s;
}
.cont2800 div{

    color: white;
    z-index:10;
    width: 50%;
}
.cont2800 .num{
    font-size: 6em;
    color: #55abdc;
}
.cont2800 p{
    font-size: 10px;
    color: gray;
    margin-right: 70px;
}
.cont2800 span{
    padding-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
.cont2800{
    position: relative;
    top: 1750px;
    display: flex;
    width: 100%;
}
.cont2800 h1{
    margin: 0;
}
.num1 div,.num2 div,.num3 div,.num4 div{
    display: flex; 
}
.num1,.num2,.num3,.num4{
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: left !important;
}
#cont2800header{
    position: absolute;
    color: white;
    left: 5%;
    top: -140px;
    font-size: 3.0em;
}

.cont2800{
    opacity: 0;
    transition: opacity 1.5s, top 1.5s;
}