*{
/* border: 1px dotted red; */
box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    width: 60%;
    min-width: 1000px;
    padding-top: 100px;
    margin: 0px auto;
}
.root{
    color: white;
    font-weight: 1.5em;
}
.cont-container{
    margin-top: 50px;
    clear: both;
}
.submenu-wrap{
    height: 30px;
}
.submenu-wrap li{
    list-style: none;
    margin-right: 80px;
    margin-bottom: 50px;
    font-size: 1.8em;
    cursor: pointer;
    float: left;
}
.other-menu{
    color: #ffffff7c;
    display: inline-block;
    width:fit-content;
}
.other-menu:hover{
    color: #ffffffce;
}
.other-menu:after{
    display: block;
    content: '';
    border-bottom: solid 2px white;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.other-menu:hover:after { 
    transform: scaleX(1); 
}
.cont-cont{
    width: 99%;
}
.menu{
    margin-top: 10px;
    margin-bottom: 90px;
}
h3{
    color: white;
    font-weight: 300;
    margin: 20px auto;
    clear: both;
    font-size: 1.6em;
}
.bar-chart-container{
    width: 99%;
    margin: 0px auto;
    margin-bottom: 30px;
}
.bar {
    height: 70px;
    border: 2px solid rgb(54, 162, 235);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    position: relative;
    overflow-x: auto;
}
.cont-cont{
	margin-top: 24px;
}
.barFill {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: rgb(54, 162, 235, 0.3);
    border-radius: 10px;
    animation: expandWidth 1.2s forwards;
}
@keyframes expandWidth {
    0% {
    width: 0;
    }
}
.chartDate{
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.7em;
    font-weight: 100;
    margin-bottom: 5px;
}
.endDate{
    float: right;
}
.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.1) transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#myChart{
    margin: 30px 30px;
}
.current-menu{
}
.doughnut-chart-container{
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
}
a{
    color: white;
    text-decoration: none;
}
.root{
	color: white;
	font-weight: 1.5em;
}
.info{
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	color: white;
	width: 750px;
	margin: 0px auto;
	padding: 65px 100px;
}
.form-box{
	display: flex;
	flex-direction: column;
	margin: 30px;
}
.form-title{
	width: 230px;
	color: rgba(255, 255, 255, 0.6);
	font-weight: 500;
}
.form-cont{
	font-size: 1.2em;
}
.menu{
	margin-top: 10px;
	margin-bottom: 90px;
}
input{
	height: 50px;
	width: 100%;
	color: black;
	border-radius: 2px;
	font-size: 1.0em;
    padding-left: 10px;
}
.form-input-addr input{
	margin-bottom: 10px;
}
input[name=postCode]{
	width: 328px;
}
.align-postCode{
	border: 1px solid white;
	padding: 10px 30px;
	border-radius: 4px;
	cursor: pointer;
}
table{
	/* border: 1px solid white; */
	border-collapse: collapse;
	color: white;
	width: 99%;
}
th{
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 20px 0px;
	font-size: 1.4em;
    font-weight: 300;
}
td{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 15px 0px;
	font-size: 1.2em;
	text-align: center;
	font-weight: 300;
}
.btn-wrap{
    text-align: right;
    display: flex;
	flex-direction: column;
	margin: 30px;
}
button[type=submit]{
    display: inline-block;
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    margin: 30px auto 0px auto;
    cursor: pointer;
}
.upd-password{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    height: 55px;
    line-height: 50px;
    padding-left: 6px;
    cursor: pointer;
}
.btn-img{
    position: relative;
    left: 360px;
}
.password-modal{
    position: fixed;    /*위치 고정*/
    left: 0px;
    top: 0px;
    width: 100vw;   /*사이즈 고정*/
    height: 100vh;
    background-color: rgba(256, 256, 256, 0.2);
    z-index: 100;   /*클 수록 앞*/
    display: none;  /*처음엔 안 보여야 함*/
}
.modal-content{
    width: 560px;
    height: 500px;
    margin: 20px auto; /*수평 중앙정렬*/
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 200px;
    border-radius: 6px;
    color: white;
}
.modal-content-wrap{
    margin: 10px 80px;
}
.modal-content-title{
    height: 50px;
    margin-top: 35px;
}
.modal-close-btn{
    text-align: right;  /*오른쪽정렬*/
    cursor: pointer;
    margin: 5px;
}
button{
    font-size: 2em;
}
.pass-form-wrap{
    padding: 20px 10px;
}
.pass-form-box{
    display: flex;
	flex-direction: column;
    margin-top: 17px;
}
.pass-form-title{
    width: 230px;
	color: black;
	font-weight: 300;
}
.pass-form-input input{
    height: 40px;
}
.modal-btn-wrap{
    height: 30px;
    margin-top: 25px;
    text-align: center;
}
.modal-btn{
    display: inline-block;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    width: 110px;
}
.modal-close{
    margin-right: 20px;
}
.modal-submit{
    margin-left: 20px;
    background-color: white;
    color:black;
}