/* body{-ms-overflow-style:none; }
body::-webkit-scrollbar { display:none; }  */

*{
 /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background: black;
   zoom: 100%;
}

.header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      color: white;
      z-index: 999;
      /* background: red; */
      width: 100%;
      height: 90px;
      padding: 0 20px;
      font-size: 32px;
      font: bold;
    }
    .header nav{
      z-index: 1000;
    }

  .wrapper{
    display: flex;
    justify-content: center;
   height: 150vh;
   margin-bottom: 10%;
   /* border: 1px solid yellow; */

  }

  .contnet-box{
    position: absolute;
    top: 40%;
    width: 80%;
    height: 100%;
    /* background: red; */
    
    /* border: 1px solid red; */
  }
  .signup-title{
    position: absolute;
    top: -20%;
    left: 10%;
    color: white;
    font-size: 82px;
    font-weight: bold;
    animation: animate-title 1s ;
}

@keyframes animate-title{
    0%{
        top: -3%;
    }
    50%{
    }
    100%{
    }
  }
  .signup-id{
    position: absolute;
    top: 0%;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }
  .signup-two{
    width: 48%;
  }
  p{
    font-size: 21px;
  }
 

 
  .input-box{
    border: 1px solid rgb(73, 72, 72);
    display: flex;
    width: 100%;
    height: 50px;

  }
  .signup-input{
    width: 100%;
    background: rgb(32, 32, 32);
    color: white;
    font-size: 18px;
    border: none;
  }
  .signup-pass{
    position: absolute;
    top: 15%;
    width: 100%;
    /* height: 100%; */
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }

  .signup-content{
    position: absolute;
    top: 30%;
    width: 100%;
    /* height: 100%; */
    background: black;
    color: white;
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 0% 10%;
  }
  .signup-content div:not(:last-child) {
    margin-bottom: 0%;
  }

  .signup-addr{
    position: absolute;
    top: 66%;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }
  .signup-tell{
    position: absolute;
    top: 85%;
    width: 100%;
    background: black;
    color: white;
    padding: 0% 10%;
  }
  .signup-cname{
    position: absolute;
    top: 95%;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }
  .submit-btn{
    position: absolute;
    bottom: -15%;
    right: 10%;
   
    text-align: center;
  }
  .submit-btn input{ 
    width: 100px;
    height: 40px;
    background: rgb(82, 82, 255);
    border: none;
    border-radius: 5px;
    font-size: 21px;
    color: white
  }
 

  .scroll_evnet {
  padding-top: 80px;
  position: fixed;
  top: 80%;
  left: 50%;
  z-index: 100;
  color: #fff;
  }
  .scroll_evnet span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
  }
.scroll_evnet span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  }
  .scroll_evnet span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
  }
  .scroll_evnet span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  }
  @-webkit-keyframes sdb {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
  }
  @keyframes sdb {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
  }  


.total_menu{
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 100vh;
    background: black;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* z-index: 100; */
}

.menu{ 
    text-decoration: none;
    font-size: 68px;
    color: white;
    font-weight: bold;
    text-transform:uppercase; 
}

.menu:after {
    display:block;
    content: '';
    border-bottom: solid 3px #fff;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

#menu1:hover .menu:after { 
    transform: scaleX(1); 
}
#menu2:hover .menu:after { 
  transform: scaleX(1); 
}
#menu3:hover .menu:after { 
  transform: scaleX(1); 
}
#menu4:hover .menu:after { 
  transform: scaleX(1); 
}
.menu_2{
    display: none;
  }
.menu_2.active{
  display: flex;
  justify-content: center;
  margin-bottom: 10px ;
  
  animation: animate-img_cover4active 1.5s ;
}
 @keyframes animate-img_cover4active{
     0%{
    opacity: 0%;
     }
    100%{
      opacity: 100%;
     }
   }
.menu_2 a{
    font-size: 21px;
    margin: 0 15px;
}
.menus{ 
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform:uppercase; 
}

.menus:after {
    display:block;
    content: '';
    /* border-bottom: solid 3px #2bb3e4;   */
    border-bottom: solid 3px #66c5e7;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.menus:hover:after { 
    transform: scaleX(1); 
}

.bott{
  position: absolute;
  bottom:2%;
  color: #858585;
}

.leftmenu{
  display: flex;
  flex-direction: column;
  position: absolute;
  /* align-items: center; */
  justify-content: center;
  left: 2%;
  font-size: 32px;
}